/* Main styles */

@import url('https://rsms.me/inter/inter.css');
html {
  font-family: 'Inter', sans-serif;
}
@supports (font-variation-settings: normal) {
  html {
    font-family: 'Inter var', sans-serif;
  }
}

svg {
    width: 300px;
    height: 100px;
}

path {
    stroke: #222222;
    stroke-width: 10px;
    stroke-linecap: round;
    fill: none;
}
header {
    background-color: #999999;
    padding: 24px;
}

nav {
    justify-content: space-between;
}

header a {
    font-family: monospace;
    font-style: normal;
    font-size: 24px;
    color: white;
}

body {
    background-color: #eeeeee;
    
}

section {
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 24px;
}

.bold {
    font-weight: 700;
}
div.divtext {
    max-width: 75%;
    justify-content: space-evenly;
}

footer {
    background-color: #222222;
    color: white;
    padding: 24px;
    position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

footer a {
    color:  white;
}

/* Tabbed page design */
/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #eeeeee;
  }
  
  /* Style the buttons that are used to open the tab content */
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #ddd;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: #bbb;
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
  }